nav .menu-item {
    list-style-type: none;
    display: inline-block;
}

nav {
    background: rgba(97, 41, 134, 0.8);
    width: 100vw;
    line-height: 3.7rem;
    border-radius: 10px 0px 0px 10px;
}

nav a {
    color: #fff;
    text-decoration: none;
    padding-right: 20px;
}

body {
    background: url("../img/lines.svg");
    height: 100vh;
}

footer {
    background: #1a5276;
    color: #fff;
    width: 100vw;
    line-height: 5rem;
    position: absolute;
    bottom: 0px;
}

#footer {
    padding: 2rem;
}