/* 
 * Google Fonts
 */

@import url("https://fonts.googleapis.com/css?family=Montserrat:400,700");

/**
  * Foundation for Sites by ZURB
  * Version 6.4.2
  * foundation.zurb.com
  * Licensed under MIT Open Source
  */


/*
  * Custom
  */

@-webkit-keyframes fadein {
    0% {
        opacity: 0;
    }
    50% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@keyframes fadein {
    0% {
        opacity: 0;
    }
    50% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

html,
body {
    width: 100%;
    min-height: 100%;
    position: relative;
    overflow-x: hidden;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
    font-size: 17px;
    background-color: white;
    color: #424242;
}

.site__wrapper {
    position: relative;
    overflow-x: hidden;
}

.wrapper {
    max-width: 960px;
    padding: 20px;
    margin: 0 auto;
    position: relative;
    z-index: 10;
}

.section .wrapper,
.support .wrapper,
.vision .wrapper,
.mission__connect .wrapper,
.contact .wrapper {
    padding: 0 20px;
}

.site__header {
    position: relative;
    z-index: 999;
    width: 100%;
    min-height: 640px;
    height: 75vw;
    max-height: 85vh;
    background: black;
    background: url("../img/hero/hero-small.jpg") center center no-repeat;
    background-size: cover;
}

@media (min-width: 640px) {
    .site__header {
        background: url("../img/hero/hero.jpg") center center no-repeat;
        background-size: cover;
    }
}

.siteHeader__wrapper {
    padding: 0 20px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    height: 100%;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.site__home {
    display: block;
    margin-top: 20px;
    position: absolute;
    left: 20px;
    top: 20px;
}

.site__home img {
    width: 80px;
    -webkit-filter: drop-shadow(0 0 10px black);
    filter: drop-shadow(0 0 10px black);
}

@media (min-width: 640px) {
    .site__home img {
        width: 150px;
    }
}

.site__title {
    text-align: center;
}

.site__title img {
    width: 150px;
    display: inline-block;
    -webkit-filter: drop-shadow(2px 2px 0px rgba(0, 0, 0, 0.3));
    filter: drop-shadow(2px 2px 0px rgba(0, 0, 0, 0.3));
}

@media (min-width: 640px) {
    .site__title img {
        width: 300px;
    }
}

.section-heading,
.support__title,
.mission__title,
.connect__title,
.contact__title {
    font-weight: 700;
    text-align: center;
    text-transform: uppercase;
    font-size: 2em;
    margin-top: 0;
}

.section,
.support,
.vision,
.mission__connect,
.contact {
    padding: 2em 0;
}

@media (min-width: 640px) {
    .section,
    .support,
    .vision,
    .mission__connect,
    .contact {
        padding: 3em 0 3em;
    }
}

.support {
    text-align: center;
    background-image: radial-gradient(ellipse at center, transparent, rgba(0, 0, 0, 0.3));
    background-color: #26a69a;
}

.support__title {
    color: white;
    margin-top: 0;
}

.support__menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}

.support__btn {
    display: inline-block;
    vertical-align: middle;
    margin: 0 0 1rem 0;
    font-family: inherit;
    padding: 0.85em 1em;
    -webkit-appearance: none;
    border: 1px solid transparent;
    border-radius: 0;
    -webkit-transition: background-color 0.25s ease-out, color 0.25s ease-out;
    transition: background-color 0.25s ease-out, color 0.25s ease-out;
    font-size: 0.9rem;
    line-height: 1;
    text-align: center;
    cursor: pointer;
    background-color: #1f897f;
    color: white;
    background: #1f897f;
    color: white;
    font-size: 1em;
    line-height: 1em;
    height: auto;
    border-radius: 2px;
    -webkit-box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
    width: 300px;
    margin: 0 2em 2em;
    padding: 1.5em;
    text-transform: uppercase;
}

[data-whatinput='mouse'] .support__btn {
    outline: 0;
}

.support__btn:hover,
.support__btn:focus {
    background-color: #424242;
    color: white;
}

.support__btn:hover,
.support__btn:active,
.support__btn:focus,
.support__btn:focus:not(:active) {
    background: white;
    color: #424242;
}

.support__btn:active {
    background: white;
}

.support__student,
.support__staff {
    visibility: hidden;
}

.support__student.active,
.support__staff.active {
    visibility: visible;
}

.support__btn--staff {
    -webkit-box-ordinal-group: 2;
    -ms-flex-order: 1;
    order: 1;
}

.support__staff {
    -webkit-box-flex: 1;
    -ms-flex: 1 0 100%;
    flex: 1 0 100%;
    -webkit-box-ordinal-group: 4;
    -ms-flex-order: 3;
    order: 3;
}

.support__btn--student {
    -webkit-box-ordinal-group: 3;
    -ms-flex-order: 2;
    order: 2;
}

.support__student {
    -webkit-box-flex: 1;
    -ms-flex: 1 0 100%;
    flex: 1 0 100%;
    -webkit-box-ordinal-group: 5;
    -ms-flex-order: 4;
    order: 4;
}

.support__list {
    list-style: none;
    text-align: left;
}

@media (min-width: 640px) {
    .support__list {
        -webkit-columns: 2;
        columns: 2;
        -webkit-column-gap: 2em;
        column-gap: 2em;
    }
}

@media (min-width: 960px) {
    .support__list {
        -webkit-columns: 3;
        columns: 3;
        -webkit-column-gap: 2em;
        column-gap: 2em;
    }
}

.support__list li {
    margin-bottom: 1em;
}

.support__list a,
.support__list a:hover {
    color: white;
}

.support__list a:focus {
    color: white;
    outline: 1px white dotted;
}

.vision {
    background: white;
    background-image: url(../img/lines.svg);
    background-position: center center;
    background-size: cover;
    font-weight: 700;
    text-align: center;
    /* text-transform: uppercase; */
    font-size: 1.3em;
    padding: 2em 0;
}

@media (min-width: 640px) {
    .vision {
        font-size: 2em;
        padding: 3em 0;
    }
}

.vision p {
    margin: 0;
    padding: 0 20px;
}

@media (min-width: 640px) {
    .vision p {
        padding: 0 80px;
    }
}

.mission__connect {
    background-color: #4d4d4d;
    background-image: radial-gradient(ellipse at center, transparent, rgba(0, 0, 0, 0.3));
    color: white;
}

@media (min-width: 640px) {
    .mission {
        -webkit-box-flex: 1;
        -ms-flex: 1 0 55%;
        flex: 1 0 55%;
        margin-right: 5%;
    }
}

.mission__title {
    text-align: center;
}

@media (min-width: 640px) {
    .missionConnect__content {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: start;
        -ms-flex-align: start;
        align-items: flex-start;
    }
}

.mission__list li {
    margin-bottom: 1.5em;
}

@media (min-width: 640px) {
    .connect {
        -webkit-box-flex: 1;
        -ms-flex: 1 0 30%;
        flex: 1 0 30%;
    }
}

.connect__title {
    text-align: center;
}

.connect__calendarLink {
    display: block;
    margin: 0 auto;
    text-align: center;
}

.connect__calendarLink img {
    width: 100%;
}

.connect__icons {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    padding-bottom: 2em;
    margin: 2em 0 1em;
    border-bottom: 1px solid white;
}

.connect__icon {
    display: block;
    width: 50px;
    margin: 0 1em;
}

.connect__tled {
    display: block;
    width: 250px;
    margin: 1em auto;
}

.contact {
    position: relative;
    background-image: url(../img/group2.jpg);
    background-size: cover;
    background-position: center 10%;
    color: white;
    text-shadow: 1px 1px rgba(0, 0, 0, 0.3);
}

.contact svg {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
}

.contact__title {
    color: white;
}

.contactList {
    list-style: none;
    margin: 0;
    padding: 0;
}

@media (min-width: 640px) {
    .contactList {
        -webkit-columns: 2;
        columns: 2;
        -webkit-column-gap: 2em;
        column-gap: 2em;
    }
}

@media (min-width: 960px) {
    .contactList {
        -webkit-columns: 3;
        columns: 3;
        -webkit-column-gap: 2em;
        column-gap: 2em;
    }
}

.contactList__item {
    -webkit-column-break-inside: avoid;
    break-inside: avoid;
    margin-bottom: 1.5em;
}

.contactList__heading {
    font-weight: bold;
}

p,
li {
    line-height: 1.5em;
}

.site__nav {
    background-color: transparent;
    position: relative;
}

.sitenav {
    margin: 0 -15px 50px;
    padding: 0;
    list-style: none;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    overflow-x: hidden;
}

.sitenav>li {
    margin: 20px 15px;
    -webkit-box-flex: 0;
    -ms-flex: 0 0 300px;
    flex: 0 0 300px;
}

@media (min-width: 640px) {
    .sitenav>li {
        margin-bottom: 20px;
    }
}

.site__nav button {
    display: inline-block;
    vertical-align: middle;
    margin: 0 0 1rem 0;
    font-family: inherit;
    padding: 0.85em 1em;
    -webkit-appearance: none;
    border: 1px solid transparent;
    border-radius: 0;
    -webkit-transition: background-color 0.25s ease-out, color 0.25s ease-out;
    transition: background-color 0.25s ease-out, color 0.25s ease-out;
    font-size: 0.9rem;
    line-height: 1;
    text-align: center;
    cursor: pointer;
    background-color: rgba(26, 82, 118, 0.8);
    color: white;
    background: rgba(26, 82, 118, 0.8);
    color: white;
    font-size: 1em;
    line-height: 1em;
    height: auto;
    border-radius: 2px;
    -webkit-box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
    font-family: 'Montserrat';
    font-size: 1.2em;
    font-weight: 500;
    padding: 10px 45px;
    text-transform: uppercase;
    letter-spacing: 0;
    cursor: pointer;
    line-height: 1.2em;
    display: inline-block;
    max-width: 300px;
    -webkit-transition: 0.2s background;
    transition: 0.2s background;
    margin-bottom: 0.5em;
}

[data-whatinput='mouse'] .site__nav button {
    outline: 0;
}

.site__nav button:hover,
.site__nav button:focus {
    background-color: #304f7e;
    color: white;
}

.site__nav button:hover,
.site__nav button:active,
.site__nav button:focus,
.site__nav button:focus:not(:active) {
    background: white;
    color: #304f7e;
}

.submenu {
    background: white;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    position: absolute;
    left: 9999em;
    width: 100%;
    padding: 2em;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-box-shadow: 0 0 10px black;
    box-shadow: 0 0 10px black;
    z-index: 999;
    border: 1px solid #ccc;
    visibility: hidden;
}

.submenu__wrap {
    -webkit-columns: 200px 4;
    columns: 200px 4;
}

.sitenav__item.active button,
.sitenav__item.hover button {
    background-color: white;
    color: #304f7e;
}

.sitenav__item.active .submenu,
.sitenav__item.hover .submenu {
    left: 0;
    visibility: visible;
}

.submenu__description {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    display: none;
}

.submenu__heading {
    color: #1a5276;
    font-weight: 700;
}

.submenu__group {
    min-width: 200px;
    text-align: left;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    margin: 0 1em 1em 0;
    padding: 0;
    list-style: none;
    -webkit-column-break-inside: avoid;
    break-inside: avoid;
}

.submenu__group li {
    width: 100%;
    padding-bottom: 0.25em;
}

.submenu__group li a {
    text-decoration: none;
}

.submenu__group li a:hover {
    text-decoration: underline;
}

.submenu__group li:not(:first-child) {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
}

.submenu__group li:not(:first-child):before {
    content: '';
    display: inline-block;
    background: #1a5276;
    width: 4px;
    height: 4px;
    border-radius: 2px;
    margin-right: 0.5em;
    margin-top: 0.5em;
    -ms-flex-negative: 0;
    flex-shrink: 0;
    -webkit-box-flex: 0;
    -ms-flex-positive: 0;
    flex-grow: 0;
}

a {
    color: #1a5276;
}

a:hover,
a:focus {
    color: #2e86c1;
}

.sustainable__assignments {
    padding: 0;
    margin: 0;
}

.sustainable__assignments header {
    background: #1a5276;
    padding: 1em;
}

.sustainable__assignments header .container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: end;
    -ms-flex-align: end;
    align-items: flex-end;
}

.sustainable__assignments header a {
    margin-right: 1em;
}

.sustainable__assignments header img {
    width: 100px;
    margin-left: 1.5em;
}

.sustainable__assignments header .site__title {
    color: white;
    font-weight: 400;
    margin: 0;
}

.sustainable__assignments .container {
    max-width: 960px;
    margin: 0 auto;
}

.sustainable__assignments main {
    padding: 1.5em;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

.sustainable__assignments section {
    margin: 3em 0;
}

.sustainable__assignments .attribution__source {
    border-top: 1px dashed #ccc;
    font-style: italic;
    color: #555555;
    padding-top: 1em;
}