
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Teaching and Learning Excellence Division</title>
  <script src="/js/modernizr-custom.js"></script>
  <link rel="stylesheet" href="{{ theme.link }}/static/css/style.css">
</head>

<body id="bodyContent">
  <div class="site___wrapper">
    <header class="site__header">
      <div class="wrapper siteHeader__wrapper">


        <a class="site__home" href="http://www.austincc.edu">
          <img src="{{ theme.path }}/static/img/accLogo.svg" alt="Austin Community College Logo" />
        </a>


        <div>
          <h1 class="site__title">
            <img src="{{ theme.path }}/static/img/TLED_white.svg" alt="Teaching and Learning Excellence Division Logo" />
          </h1>

          <nav class="site__nav">
            <ul class="sitenav">
              <li class="sitenav__item">
                <button id="curriculum_development_btn" aria-controls="curriculum_development_submenu" aria-expanded="false">
              Curriculum Development
            </button>
                <div class="submenu" id="curriculum_development_submenu" aria-labeledby="curriculumDevelopmentBtn" aria-expanded="false"
                  aria-hidden="true">
                  <p class="submenu__description">
                    This is a nav item description paragraph.
                  </p>
                  <div class="submenu__wrap">
                    <ul class="submenu__group">
                      <li class="submenu__heading">Program Curriculum</li>
                      <li><a href="http://sites.austincc.edu/guidedpathways/">Program Maps</a></li>
                      <li><a href="http://www.austincc.edu/offices/institutional-planning-and-evaluation/program-review">Program Review</a></li>
                      <li><a href="http://irt.austincc.edu/ids/curriculum/curriculumdevlearningoutcomes.php">Student Learning Outcomes</a></li>
                      <li><a href="http://irt.austincc.edu/ids/curriculum/curriculumdevacap.php">ACAP</a></li>
                      <li><a href="http://irt.austincc.edu/ids/curriculum/acapReport.php">ACAP Reports</a></li>
                    </ul>
                    <ul class="submenu__group">
                      <li class="submenu__heading">Pathways</li>
                      <li><a href="#">University Relations</a></li>
                      <li><a href="http://www.austincc.edu/degrees-and-certificates/earn-a-degree-and-transfer/prepare-for-transfer">Articulation</a></li>
                    </ul>
                    <ul class="submenu__group">
                      <li class="submenu__heading">Resources</li>
                      <li><a href="http://www.austincc.edu/catalog">Course Catalog</a></li>
                      <li><a href="http://www6.austincc.edu/schedule/">Course Schedule</a></li>
                      <li><a href="http://www.austincc.edu/support-and-services/services-for-students/bookstores">Bookstore</a></li>
                    </ul>
                    <ul class="submenu__group">
                      <li class="submenu__heading">Experiential Learning</li>
                      <li><a href="http://sites.austincc.edu/ocei/">Cooperative Education</a></li>
                      <li><a href="http://sites.austincc.edu/ocei/about/internship-basics/">Internships</a></li>
                      <li><a href="http://www.austincc.edu/degrees-and-certificates/find-classes/study-abroad">Study Abroad</a></li>
                      <li><a href="https://sites.google.com/a/austincc.edu/servicelearning/">Service Learning</a></li>
                    </ul>
                  </div>
                </div>
              </li>

              <li class="sitenav__item">
                <button id="instructional_development_btn" aria-controls="instructional_development_submenu" aria-expanded="false">
              Instructional Development
            </button>
                <div class="submenu" id="instructional_development_submenu" aria-labelledby="instructionalDevelopmentBtn" aria-expanded="false"
                  aria-hidden="true">
                  <p class="submenu__description">
                    This is a nav item description paragraph.
                  </p>
                  <div class="submenu__wrap">
                    <ul class="submenu__group">
                      <li class="submenu__heading">Classroom Management</li>
                      <li><a href="http://www.austincc.edu/offices/academic-outcomes-assessment/master-syllabi">Syllabus</a></li>
                      <li><a href="http://www.austincc.edu/facstaff/attendance-certification-questions-and-answers">Attendance</a></li>
                      <li><a href="http://library.austincc.edu/gen-info/includes-GenInfo/facplagiarism.htm">Plagiarism</a></li>
                      <li><a href="http://www.austincc.edu/students-rights-and-responsibilities">Student Rights &amp; Responsibilities</a></li>
                      <li><a href="http://www.austincc.edu/support-and-services/tutoring-and-academic-help/tutoring-services-and-schedules">Tutoring</a></li>
                      <li><a href="http://www.austincc.edu/support-and-services/tutoring-and-academic-help/student-computer-access">Student Computing Facilities</a></li>
                    </ul>
                    <ul class="submenu__group">
                      <li class="submenu__heading">Course Design and Development</li>
                      <li><a href="#">Instructional Design Support</a></li>
                      <li><a href="http://irt.austincc.edu/ids/curriculum/curriculumdevlearningoutcomes.php">Student Learning Outcomes</a></li>
                      <li><a href="http://irt.austincc.edu/blackboard/">Blackboard</a></li>
                      <li><a href="http://irt.austincc.edu/ids/courseassessments.php">Assessment and Testing</a></li>
                      <li><a href="http://irt.austincc.edu/ids/technologytools.php">Instructional Technology Tools</a></li>
                      <li><a href="http://irt.austincc.edu/ids/instructionalmaterials.php">Instructional Materials</a></li>
                      <li><a href="http://irt.austincc.edu/IDS/open-educational-resources/">Textbooks and Open Educational Resources</a></li>
                      <li><a href="http://library.austincc.edu/help/ILoptions.php">Information Literacy</a></li>
                      <li><a href="http://irt.austincc.edu/ids/culturallyresponsiveteaching/index.php">Culturally Responsive Teaching</a></li>
                      <li><a href="http://irt.austincc.edu/copyright/">ACC Copyright &amp; Fair Use</a></li>
                      <li><a href="http://irt.austincc.edu/accessibility/">Accessibility</a></li>
                    </ul>
                    <ul class="submenu__group">
                      <li class="submenu__heading">Flexible / Alternative Learning</li>
                      <li><a href="http://www.austincc.edu/catalog">Course Catalog</a></li>
                      <li><a href="http://dl.austincc.edu/">Distance Learning</a></li>
                      <li><a href="http://irt.austincc.edu/ids/curriculum/curriculumdevcomptinstruction.php">Competency Based Instruction</a></li>
                      <li><a href="http://dl.austincc.edu/faculty/VCTFaculty.php">Virtual College of Texas</a></li>
                    </ul>
                    <ul class="submenu__group">
                      <li class="submenu__heading">Teaching Spaces</li>
                      <li><a href="http://irt.austincc.edu/ict/media/classtech.php">Classrooms</a></li>
                      <li><a href="http://irt.austincc.edu/ict/teachingspaces/computerclassrooms.php">Computer Classrooms</a></li>
                      <li><a href="http://irt.austincc.edu/ict/teachingspaces/ivc.php">Interactive Classrooms</a></li>
                      <li><a href="http://irt.austincc.edu/ict/teachingspaces/multipurposehalls.php">Lecture Hall</a></li>
                      <li><a href="http://irt.austincc.edu/ict/teachingspaces/virtualspaces.php">Virtual Classroom</a></li>
                    </ul>
                    <ul class="submenu__group">
                      <li class="submenu__heading">Instructional Web</li>
                      <li><a href="http://irt.austincc.edu/ids/creativeservices/facultywebsites.php">Faculty Websites</a></li>
                      <li><a href="http://irt.austincc.edu/ids/creativeservices/instructionalwebsites.php">Instructional Program/Department Website</a></li>
                      <li><a href="http://irt.austincc.edu/ids/creativeservices/audiovideoproduction.php">Instructional Video</a></li>
                      <li><a href="http://irt.austincc.edu/Streaming/">Online Video</a></li>
                      <li><a href="http://irt.austincc.edu/accessibility/">Web Accessibility</a></li>
                    </ul>
                    <ul class="submenu__group">
                      <li class="submenu__heading">Resources</li>
                      <li><a href="http://irt.austincc.edu/ids/oncampusids.php">Instructional Designers</a></li>
                      <li><a href="http://irt.austincc.edu/ids/creativeservices/audiovideoproduction.php">Media Production</a></li>
                      <li><a href="http://irt.austincc.edu/ict/computer/staffdescript.php">Campus Faculty Resource Centers</a></li>
                      <li><a href="http://irt.austincc.edu/ids/innovation/">Innovation Grants</a></li>
                      <li><a href="http://irt.austincc.edu/learningdepot/">Learning Depot</a></li>
                      <li><a href="http://irt.austincc.edu/ids/facultytraining/studenttutorials.php">Student Tutorials</a></li>
                      <li><a href="https://accmultimedia.austincc.edu/webcast/">ACC Live Streaming</a></li>
                      <li><a href="https://accmultimedia.austincc.edu/">ACC Multimedia</a></li>
                    </ul>
                  </div>
                </div>
              </li>

              <li class="sitenav__item">
                <button id="faculty_development_btn" aria-controls="faculty_development_submenu" aria-expanded="false">
              Faculty Development
            </button>
                <div class="submenu" id="faculty_development_submenu" aria-labeledby="facultyDevelopmentBtn" aria-expanded="false" aria-hidden="true">
                  <p class="submenu__description">
                    This is a nav item description paragraph.
                  </p>
                  <div class="submenu__wrap">
                    <ul class="submenu__group">
                      <li class="submenu__heading">Onboarding Programs</li>
                      <li><a href="#">Full-Time Faculty</a></li>
                      <li><a href="http://sites.austincc.edu/facdev/training/orientation/">Mentoring</a></li>
                    </ul>
                    <ul class="submenu__group">
                      <li class="submenu__heading">Training Programs</li>
                      <li><a href="http://irt.austincc.edu/ids/facultytraining/facultytraining.php">Faculty Training</a></li>
                      <li><a href="http://irt.austincc.edu/ids/dlcourseadaptation.php">Distance Learning</a></li>
                      <li><a href="http://irt.austincc.edu/ids/curriculum/curriculumdevcomptinstruction.php">Competency-Based Instruction</a></li>
                      <li><a href="http://sites.austincc.edu/honors/teaching-honors/">Honors Program</a></li>
                      <li><a href="http://irt.austincc.edu/IDS/integrated-reading-writing/">Integrated Reading &amp; Writing</a></li>
                      <li><a href="https://sites.google.com/a/austincc.edu/mathplus/home">QEP Math</a></li>
                      <li><a href="https://sites.google.com/a/austincc.edu/the-great-questions/">Great Questions Seminar</a></li>
                      <li><a href="http://irt.austincc.edu/ids/facultytraining/facultyinstitutes.php">Faculty Institutes</a></li>
                      <li><a href="http://irt.austincc.edu/ids/facultytraining/oneononeetraining.php">One-on-One Training</a></li>
                      <li><a href="http://irt.austincc.edu/ids/facultytraining/departmenttraining.php">Department Specific Training</a></li>
                    </ul>
                    <!--
              <ul class="submenu__group">
                <li>Leadership Programs</li>
                <li><a href="#"></a></li>
              </ul>
              -->
                    <!--
              <ul class="submenu__group">
                <li>Certification Programs</li>
                <li><a href="#"></a></li>
              </ul>
              -->
                    <ul class="submenu__group">
                      <li class="submenu__heading">Faculty Evaluation</li>
                      <li><a href="http://www.austincc.edu/offices/faculty-evaluation">Faculty Evaluation</a></li>
                      <li><a href="https://drive.google.com/file/d/0B-EwSafm0XzVWGYwdjhRY2NlTTg/view">Professional Portfolio</a></li>
                      <li><a href="https://drive.google.com/file/d/0B-EwSafm0XzVdWdkZl8tdVNOM2s/view">Classroom Observation</a></li>
                    </ul>
                    <ul class="submenu__group">
                      <li class="submenu__heading">Faculty Engagement</li>
                      <li><a href="http://sites.austincc.edu/facdev/generalassembly/">General Assembly</a></li>
                      <li><a href="http://sites.austincc.edu/facdev/awards/award-dinner/">ACC Annual Awards Dinner</a></li>
                      <li><a href="http://sites.austincc.edu/facdev/annual-events/great-teaching-retreat/">Great Teaching Retreat</a></li>
                      <li><a href="http://sites.austincc.edu/fctl/chalktalk/">Campus Chalk Talk</a></li>
                    </ul>
                    <ul class="submenu__group">
                      <li class="submenu__heading">Resources</li>
                      <li><a href="http://www.austincc.edu/offices/human-resources/faculty-handbook">Faculty Handbook</a></li>
                      <li><a href="http://sites.austincc.edu/facultysenate/">Faculty Senate</a></li>
                      <li><a href="http://sites.austincc.edu/afa/">Adjunct Faculty Association</a></li>
                    </ul>
                  </div>
                </div>
              </li>
            </ul>
          </nav>
        </div>
      </div>
    </header>

    <main>

      <section class="support">
        <div class="wrapper">
          <h2 class="support__title">Support</h2>
          <div class="support__menu">

            <button id="support_staff_btn" class="support__btn support__btn--staff" aria-controls="support_staff" aria-expanded="false">
            Staff
          </button>
            <div id="support_staff" class="support__staff" aria-labeledby="support_staff_btn" aria-expanded="false" aria-hidden="true">
              <ul class="support__list">
                <li>&nbsp;</li>
                <li><a href="#">Staff Support Coming Soon</a></li>
                <li>&nbsp;</li>
              </ul>
            </div>

            <button id="support_student_btn" class="support__btn support__btn--student" aria-controls="support_student" aria-expanded="false">
            Student
          </button>
            <div id="support_student" class="support__student" aria-labeledby="support_student_btn" aria-expanded="false" aria-hidden="true">
              <ul class="support__list">
                <li>
                  <a href="http://dl.austincc.edu/information/">Types of Distance Learning Courses</a>
                </li>
                <li>
                  <a href="http://dl.austincc.edu/information/programs.php">Distance Learning Programs</a>
                </li>
                <li>
                  <a href="http://dl.austincc.edu/students/">Student Guide to Distance Learning</a>
                </li>
                <li>
                  <a href="http://dl.austincc.edu/students/SelfAssess.php">Learning Style Survey</a>
                </li>
                <li>
                  <a href="http://dl.austincc.edu/students/TechCheck.php">Technical Skills Checklist</a>
                </li>
                <li>
                  <a href="http://dl.austincc.edu/students/DistanceTesting.php">Distance Testing Procedure</a>
                </li>
                <li>
                  <a href="http://dl.austincc.edu/students/FacEval.php">Student Evaluation of Faculty</a>
                </li>
                <li>
                  <a href="http://irt.austincc.edu/blackboard/studentsupport.php">Blackboard Student Support</a>
                </li>
              </ul>
            </div>

          </div>
        </div>
      </section>
      <section class="vision">
        <div class="wrapper">
          <p>
            Our vision is to lead as a model of excellence in higher education and as a resource, empowering faculty and staff to improve
            learning environments and advance student success.
          </p>
        </div>
      </section>

      <section class="mission__connect">
        <div class="wrapper missionConnect__content">

          <div class="mission">
            <h2 class="mission__title">
              Mission
            </h2>
            <div class="mission__content">
              <div class="mission__description">
                <p>
                  To further the mission and student success goals of the College by providing quality instructional services and support for
                  faculty and staff to:
                  <ul class="mission__list">
                    <li>Develop evidence-based teaching and learning environments to reach diverse student populations.</li>
                    <li>Develop excellence in instruction through effective and innovative teaching practices.</li>
                    <li>Use current and emerging instructional strategies and technologies to advance the campus-based and online
                      student-centered classroom.
                    </li>
                    <li>Evaluate learning outcomes that are based on student needs.</li>
                    <li>Participate in continuous improvement through a culture of research, planning, engagement, and equity.</li>
                    <li>Develop curriculum to align pathways from high school through university transfer.</li>
                    <li>Capitalize on faculty development opportunities for professional growth.</li>
                  </ul>
                </p>
                <p>
                  <!-- Please check our website for current staffing and locations: -->
                </p>
              </div>
            </div>
          </div>

          <div class="connect">
            <h2 class="connect__title">
              Connect
            </h2>
            <a class="connect__calendarLink" href="http://tled.austincc.edu/sustainable-assignments/"><img src="{{ theme.path }}/static/img/sustainable-assignments.png" alt="Producing Sustainable Assignments for Student Engagement"></a>
            <div class="connect__icons">
              <a class="connect__icon" href="#"><img src="{{ theme.path }}/static/img/icons/facebook.svg" alt="facebook logo"></a>
              <a class="connect__icon" href="#"><img src="{{ theme.path }}/static/img/icons/twitter.svg" alt="twitter logo"></a>
            </div>
            <img class="connect__tled" src="{{ theme.path }}/static/img/TLED.svg" alt="Teaching and Learning Excellence Division Logo" />
          </div>
        </div>

      </section>

      <section class="contact">
        <div class="wrapper">
          <h2 class="contact__title">
            Contact Us
          </h2>
          <ul class="contactList">
            <li class="contactList__item">
              <div class="contactList__heading">
                ACC Libraries
              </div>
              <div>Phone: 512-223-0157</div>
            </li>
            <li class="contactList__item">
              <div class="contactList__heading">
                Office of Cooperative Education and Internships
              </div>
              <div>Phone: 512-223-7010</div>
            </li>
            <li class="contactList__item">
              <div class="contactList__heading">
                Office of Curriculum Development
              </div>
              <div>Phone: 512-223-7091</div>
              <ul class="contactList__item">
                <li>Curriculum Services</li>
                <li>Catalog and Program Maps</li>
                <li>Scheduling Services</li>
              </ul>
            </li>
            <li class="contactList__item">
              <div class="contactList__heading">
                Office of Distance &amp; Alternative Learning
              </div>
              <div>Phone: 512-223-8027</div>
              <ul>
                <li>Blackboard Services</li>
                <li>Competency-Based Education Services</li>
                <li>Distance Learning Services</li>
              </ul>
            </li>
            <li class="contactList__item">
              <div class="contactList__heading">
                Office of Instructional and Faculty Development
              </div>
              <div>Phone: 512-223-7786</div>
              <ul>
                <li>Instructional Design</li>
                <li>Faculty Evaluation</li>
                <li>Faculty Development Programs</li>
                <li>Faculty Center for Teaching and Learning</li>
              </ul>
            </li>
            <li class="contactList__item">
              <div class="contactList__heading">
                Office of Instructional Technology
              </div>
              <div>Phone: 512-223-7667</div>
              <ul>
                <li>Video &amp; Multimedia Production</li>
                <li>Instructional Web Development</li>
                <li>Media Support</li>
                <li>Classroom Technology</li>
                <li>ACC-TV, Channel 19</li>
              </ul>
            </li>
            <li class="contactList__item">
              <div class="contactList__heading">
                Office of Service Learning
              </div>
              <div>Phone: 512-223-3774</div>
            </li>
            <li class="contactList__item">
              <div class="contactList__heading">
                Office of Articulation &amp; University Relations
              </div>
              <div>Phone: 512-223-7677</div>
            </li>
          </ul>
        </div>
      </section>
    </main>

    <footer class="site__footer">
    </footer>
  </div>
  <!-- site__wrapper -->



  <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/1.20.2/TweenLite.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/latest/plugins/CSSPlugin.min.js"></script>
  <script src="{{ theme.path }}/static/js/script.js"></script>
</body>

</html>